In [1]:
def escaleta():
    '''
    1. #Importar Librerías
    2. #explorar csv
    3. #dimensiones de la tabla
    4. #100% numéricas: año y original order
    5. #espacio que ocupa
    6. #Edición de Encabezados de columnas, estandarizadas en minúscula y sin espacios
    7. #Contar casos unicos y frecuencia
    8. #Manejo de valores nulos
    9. #Contar valores nulos
    9. #Eliminar las filas con valores NaN en la columna "country"
    10.#nuevo data frame con base en información de country
    11.#Eliminar las filas con valores NaN en la columna "country"
    12.#inicia la figura y establece el tamaño
    13.#limpiar nan en todas las columnas 
    14.#inicia la figura y establece el tamaño sin nan
    15.#Top 15 de ataques por país
    16.#Revisamos datos estadísticos agrupando el país
    17.#Computar the mean por country
    18.# Computar la mediana por country
    19.# Computar la desviación estandar por country
    20.# Revisamos datos estadísticos de cada año agrupando el país
    21.# Contamos los valores de cada año 
    22.#Computar la media por año
    23.#Computar la mediana por año
    24.#Computar la desviación standard por año
    25.#estadística por año y registros
    26.#valores únicos para la columna year
       
    '''
    return None

help(escaleta)

Help on function escaleta in module __main__:

escaleta()
    1. #Importar Librerías
    2. #explorar csv
    3. #dimensiones de la tabla
    4. #100% numéricas: año y original order
    5. #espacio que ocupa
    6. #Edición de Encabezados de columnas, estandarizadas en minúscula y sin espacios
    7. #Contar casos unicos y frecuencia
    8. #Manejo de valores nulos
    9. #Contar valores nulos
    9. #Eliminar las filas con valores NaN en la columna "country"
    10.#nuevo data frame con base en información de country
    11.#Eliminar las filas con valores NaN en la columna "country"
    12.#inicia la figura y establece el tamaño
    13.#limpiar nan en todas las columnas
    14.#inicia la figura y establece el tamaño sin nan
    15.#Top 15 de ataques por país
    16.#Revisamos datos estadísticos agrupando el país
    17.#Computar the mean por country
    18.# Computar la mediana por country
    19.# Computar la desviación estandar por country
    20.# Revisamos datos estadísticos de cada año agrupando el país
    21.# Contamos los valores de cada año
    22.#Computar la media por año
    23.#Computar la mediana por año
    24.#Computar la desviación standard por año
    25.#estadística por año y registros
    26.#valores únicos para la columna year

In [2]:
#Importar Librerías
#%pip install ipython
#%pip install pandas
#%pip install seaborn
#%matplotlib inline

In [18]:
import pandas as pd
import numpy as np
import pylab as plt   
import seaborn as sns
import datetime
import warnings
warnings.filterwarnings('ignore')   # para quitar esos prints

In [60]:
#explorar csv
migration = pd.read_csv('./data/migration_spain.csv', sep=';', error_bad_lines=False, encoding='utf-8')
migration.head()

,Comunidades y ciudades autónomas,Sexo,País de nacimiento,Grupo quinquenal de edad,Periodo,Total
0,01 Andalucía,Hombres,Extranjero,De 0 a 4 años,2022S1,1433
1,01 Andalucía,Hombres,Extranjero,De 0 a 4 años,2021S2,968
2,01 Andalucía,Hombres,Extranjero,De 0 a 4 años,2021S1,634
3,01 Andalucía,Hombres,Extranjero,De 0 a 4 años,2020S2,721
4,01 Andalucía,Hombres,Extranjero,De 0 a 4 años,2020S1,754